body{
     background-color: white; background-image: url(logo.png); background-repeat: no-repeat; background-position: center; background-position-y: -50px; 
}
.caralho{
    border-radius: 20px; 
    position: absolute;
    left: center;
    right: center;
    top: 20%;
}